<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <div />

    <div class="jumbotron">
        <h1>선택 화면</h1>
        <p class="lead">로그인 기능</p>
        <p>
            <a href="/login" class="btn btn-primary btn-lg" role="button">로그인</a>
            <a href="/sign-up" class="btn btn-secondary btn-lg" role="button">회원가입</a>
        </p>
    </div>

    <div>

</div> <!-- /container -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
